@page "/createpub"
@* 
    Théo Neusser
    IDA-P4C
    Atelier Prog
    10.03.2024
 *@
<PageTitle>Create Publication</PageTitle>

<h1>Create a publication</h1>
<h2>Version 03.10.2024</h2>

<div class="card">
    <div class="container">
        <EditForm Model="@publicationModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <h3>Title</h3>
            <InputText type="text" id="title" @bind-Value="publicationModel.Title" class="form-control" />
            <br />
            <h3>Content</h3>
            <InputText type="text" id="title" @bind-Value="publicationModel.Content" class="form-control" />
            
            <h3>Image</h3>
            <InputFile id="image" accept=".png,.jpg,.jpeg,.webp" OnChange="OnFileChangeAsync"></InputFile>
            <br />
            <br />
            <button type="submit" class="w-100 btn btn-lg btn-outline-primary">Create Publication</button>
            <ValidationSummary />
            <p style="color:green;">
                @success
            </p>
            <p style="color:red;">
                @error
            </p>

        </EditForm>
    </div>
</div>


@code {
    @inject NavigationManager MyNavigationManager
    @inject IJSRuntime JSRuntime;
    @using System.Net.Http;
    @using System.Net.Http.Json;
    @using System.Text;
    @using System.Security.Permissions;
    @using System.Security.Principal;
    @using System.Web;
    @using Newtonsoft.Json.Linq;
    @using Newtonsoft.Json;
    @using System.Net.Http.Headers;
    // dotnet add JSRuntime

    private int currentCount = 0;

    public PublicationModel publicationModel = new();

    private IBrowserFile _image = null;
    public string success = "";

    public string error = "";

    private bool _validImage = false;

    protected override async Task OnInitializedAsync()
    {
        bool connected = Convert.ToBoolean(await JSRuntime.InvokeAsync<string>("BlazorGetLocalStore", "IsConnected"));

        if (!connected)
        {
            MyNavigationManager.NavigateTo("/");
        }
        StateHasChanged();

    }

    private async void HandleValidSubmit()
    {
        if (!_validImage)
        {
            error = "Image is not valid.";
            return;
        }
        publicationModel.Image = $"/{_image.Name}";
        byte[] buffer = await GetBuffer();
        string base64 = Convert.ToBase64String(buffer);
        PostPublication(base64);

    }

    private async Task OnFileChangeAsync(InputFileChangeEventArgs e)
    {
        var file = e.File;

        string[] validTypes = new string[3] { "image/png", "image/jpeg", "image/webp" };

        bool isImage = validTypes.Any(type => type == file.ContentType);

        if (!isImage)
        {
            await JSRuntime.InvokeVoidAsync("alert", "Please input a valid image. (Formats accepted: .png, .jpg/.jpeg, .webp)");
            _validImage = false;
            return;
        }
        _validImage = true;
        _image = e.File;
    }

    /// <summary>
    /// Gets the buffer out of the _image field
    /// </summary>
    /// <returns></returns>
    private async Task<byte[]> GetBuffer()
    {
        long maxBytesSize = 10_000_000; // 10 MB

        using (Stream stream = _image.OpenReadStream(maxBytesSize))
        {
            using (var memoryStream = new MemoryStream())
            {
                await stream.CopyToAsync(memoryStream);
                return memoryStream.ToArray();
            }
        }

    }
    /// <summary>
    /// Calls the API to save the image back into the frontend
    /// </summary>
    /// <param name="fileName">name of the file</param>
    /// <param name="base64">content of the image encoded in base64</param>
    /// <returns></returns>
    private async Task PostPublication(string base64)
    {
        using var client = new HttpClient();
        var pub = new Publication() { Title = publicationModel.Title, Author = "Some random author (test data)", Image = publicationModel.Image, Base64 = base64, Content = publicationModel.Content};
        using var request = new HttpRequestMessage(HttpMethod.Post, "http://api.theo.cfpt.info/publications/add");
        string token = await JSRuntime.InvokeAsync<string>("BlazorGetLocalStore", "token");
        request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", token);
        request.Content = new StringContent(JsonConvert.SerializeObject(pub), Encoding.UTF8, "application/json");
        var response = await client.SendAsync(request);
        if (response.IsSuccessStatusCode)
        {
            MyNavigationManager.NavigateTo("/profile");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await JSRuntime.InvokeVoidAsync("BlazorRemoveLocalStore", "token");
            await JSRuntime.InvokeVoidAsync("BlazorSetLocalStore", "IsConnected", "false");
            MyNavigationManager.NavigateTo("/");
        }
    }   

    /// <summary>
    /// Custom private class to parse into json
    /// </summary>
    private class Publication
    {
        [JsonProperty("title")]
        public string Title { get; set; }
        [JsonProperty("author")]
        public string Author { get; set; }
        [JsonProperty("image")]
        public string Image { get; set; }
        [JsonProperty("base64")]
        public string Base64 { get; set; }
        [JsonProperty("content")]
        public string Content { get; set; }
    }
}
